@import '../../styles/variables.scss';

.side__modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 150;
    width: 100%;
    height: 100vh;
    transition: 0.3s ease-in-out;
    animation: pop 0.5s;
}

.side__nav {
    background-color: white;
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 200;
    transition: 0.3s ease-in-out;
    animation: side 0.5s;


    .menu {
        border-bottom: 1.5px solid rgba(128, 128, 128, 0.425);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .title {
            font-size: $Paragraph-1;
            margin-bottom: 0;
        }

        .close__icon {
            font-size: 20px;
            cursor: pointer;
        }
    }

    .nav__list {
        padding: 1rem 2rem;

        li {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 3rem 0;

            .nav__icon {
                width: 25px;
            }

            .nav__text {
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}

@keyframes side {
    0% {
        transform: translateX(-100%);
    }



    100% {
        transform: translateX(0);
    }
}

@keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}