@import '../../styles/variables.scss';

.bookmark__container {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.bookmark__icon {
    color: rgb(146, 146, 146);
    font-size: 28px !important;
}

.bookmark__icon-active {
    color: #00ffc8;
    animation: up 0.5s;
    transition: 0.3s ease-in-out;

}