 @import "../../styles/variables.scss";

 .comment {
     padding-bottom: 180px;
     border-top: 1px solid rgba(0, 0, 0, 0.295);
     padding-top: 2rem;
 }

 .comment__heading {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 2rem;

     .comment__title {
         font-weight: $font-Bold;
         font-size: $Paragraph-2;
     }

     .subscribe__btn {
         padding: 0.75rem 1.5rem;
         font-weight: $font-Medium;
         border: 1px solid rgba(0, 0, 0, 0.473);
         border-radius: 5px;
         color: black;
         font-family: $inter-font;
     }
 }

 .text__area {
     display: flex;
     align-items: flex-start;
     gap: 15px;
     justify-content: space-between;

     .user__image {
         border-radius: 50%;
         width: 40px;
     }
 }

 .submit__btn {
     color: white;
     background-color: #8991EB;
     font-weight: 400;
     font-family: $inter-font;
     padding: 1rem 2rem;

     &:hover {
         color: white;
         border-color: #8991EB;
     }
 }

 .comment__area {
     width: 100%;
     height: 130px;
     padding: 1rem;
     font-family: $inter-font;
     outline: none;
     border: 1.5px solid rgba(0, 0, 0, 0.164);
     border-radius: 10px;
     background-color: #F9FAFA;
     margin-bottom: 1rem;

     &:focus {
         outline: none;
         border: 1.5px solid rgb(95, 9, 134);
     }
 }

 .user__comment {
     display: flex;
     align-items: flex-start;
     gap: 10px;
     margin-top: 3rem;
     transition: 0.3s ease-in-out;
     animation: pop 1.5s;

     .user__image {
         width: 30px;
         border-radius: 50%;
     }

     .comment__body {
         border: 1px solid rgba(128, 128, 128, 0.349);
         border-radius: 5px;
         padding: 1rem 1.5rem;

         .comment__info {
             color: rgba(73, 73, 73, 0.671);
             font-size: 12px;
             margin-bottom: 1rem;
         }

         .comment__value {
             margin-bottom: 1rem;
         }
     }

 }