@import '../../styles/variables.scss';

.fire__container {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.fire__icon {
    color: rgb(146, 146, 146);
    font-size: 28px !important;


}

.fire__icon-active {
    color: #f14c00;
    animation: up 0.5s;
    transition: 0.3s ease-in-out;

}